{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>simple world! Here you can find varieties article</title>
</head>

<body>

    <div class="wrapper">

        <div class="top-nav" style="background-color: rgb(170, 170, 223);">
            <div class="left" style="padding-left: 20px;">
                <div class="logo">
                    <p><span>Jokes</span>World</p>
                </div>
                <div class="search-bar">
                    <form action="{% url 'search' %}" method="GET">
                        <input type="text" name="q" placeholder="Search by litle">
                    </form>

                </div>
            </div>
            <div class="right">
                <ul class="ul">
                    
                    <li>
                        
                        {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                        <a href="{% url 'dashboard' %}">ADMIN</a>
                        {% endif %}
                        {% endif %}
                    </li>
                    <li>
                       
                        <div class="action">
                            <div class="profile" onclick="menuToggle();">
                                
                                {% if user.is_authenticated %}
                                <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                                <img src="{% static 'images/download.png' %}" alt="">                                
                                    
                               
                            </div>
                            <div class="menu">
                                <h4> {{user.first_name}} <br><span> {{user.profile.name}} </span></h4>

                                <ul>
                                    <li><a href="{% url 'author' user.username  %}"><i class="fa fa-user-circle-o " aria-hidden="true"></i>
                                            profile</a></li>

                                    <li><a href="{% url 'create' %}"><i class="fa fa-plus " aria-hidden="true"></i>
                                            Create New Post</a></li>

                                    <li><a href="{% url 'logout' %}"> <i class="fa fa-sign-out " aria-hidden="true"></i>
                                            Logout</a></li>

                                </ul>


                            </div>
                        </div>
                    </li>


                    
                    {% else %}
                        
                    <li class="li"><a href="{% url 'register' %}">register <i class="fa fa-user-plus fa-x" aria-hidden="true"></i></a></li>
                    <li><a href="{% url 'login' %}">login <i class="fa fa-sign-in fa-x" aria-hidden="true"></i> </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="bottom-nav" style="background-color: blue;padding-top: 10px;color: white;">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Love</a></li>
                <li><a href="#">Friends</a></li>
                <li><a href="#">Family</a></li>
                <li><a href="#">Girlfriend</a></li>
                <li><a href="#">Popular</a></li>
                <li><a href="#">Islamic</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>

    </div>



    {% block content %}

    {% endblock content %}


    <div class="footer">


        <div class="copyright">
            <p>Copyright ©2021 All rights reserved  by <span>i</span><s>cortex</s></p>
        </div>
    </div>

    <script type="text/javascript">
        window.addEventListener("scroll", function () {
            var header = document.querySelector(".bottom-nav");
            header.classList.toggle("sticky", window.scrollY > 100)
        });

        function menuToggle() {
            var toggleMenu = document.querySelector('.menu');
            toggleMenu.classList.toggle('active')
        }



    </script>

</body>

</html>