{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/detail_style.css' %}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>


    <div class="content">
        <div class="detail">
            <div class="post-detail">

                <img src=" {{post.image.url}} " alt="">
                <div class="post-body">
                    <div class="post-title">
                        <a href="#">
                            <h3> {{post.title}} </h3>
                        </a>
                    </div>

                    <div class="author">
                        <div class="img">
                            <img src="{% static 'images/download.png' %}" alt="">

                        </div>
                        <div class="name">
                            <p class="nm"> {{post.post_author}} <span>in</span> {{post.category }} </p>
                            <p class="time"> {{post.time}} </p>
                        </div>
                    </div>

                    <div class="post-text">
                        <p>{{ post.text | safe }}</p>
                    </div>
                </div>

                {% if user.is_authenticated %}

                {% if user.id == post.post_author.id %}

                <a href="{% url 'update' post.id%}" class="btn btn-secondary" type="button">Update</a>
                <a href="{% url 'delete' post.id%}" class="btn btn-secondary" type="button">Delete</a>

                {% endif %}
                {% endif %}
                <form action="{% url 'like' %}" method="POST">
                    {% csrf_token %}
                    {% if user.is_authenticated %}

                    {% if is_liked %}
                    <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-secondary m3 mx-auto"
                        style="padding: 10px;margin:10px;float:left">Dislike</button>
                    {% else %}
                    <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-secondary m3 mx-auto"
                        style="padding: 10px;margin:10px">like</button>

                    {% endif %}

                    {% endif %}
                </form>
            </div>

            <div class="similar-post">
                <div class="heading">Similar Post</div>
                {% for related in related_post %}

                <div class="title">
                    <p class="counter"> 0{{ forloop.counter}}</p>
                    <h4 class="post-title">{{related.title}}</h4>
                    <p class="author"> {{related.post_author}} <span>in</span> {{related.category}} </p>
                    <p class="time"> {{related.time}} </p>
                </div>
                {% endfor %}

            </div>
        </div>

        <div class="comment" style="padding:20px">
            <h5>{{total_likes}} like{{comments|pluralize}}</h5>
            <h5>({{comments.count}}) comment{{comments|pluralize}} .......</h5>


            {% if user.is_authenticated %}



            <div class="comment-form">


                {% if user.is_authenticated %}


                <div class="form-group row">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form.media}}
                        {{form.as_p | safe}}

                        {% if user.is_authenticated %}
                        <button id="comment" class="btn btn-outline-secondary m-3 mx-auto"
                            type="submit">comment</button>

                        {% else %}
                        <button type="submit" class="btn btn-outline-dark" disabled>comment</button>
                        {% endif %}
                    </form>
                </div>
                {% endif %}
            </div>

            {% endif %}

            <div id="allcomment" style="background-color: rgba(240, 236, 236, 0.096);padding:30px">
                {% for cmt in comments %}
                <figure>
                    <blockquote class="blockquote">
                        <p style="font-size:14px;text-transform:capitalize">{{cmt.comment}}</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        by <cite title="Source Title">{{ cmt.name }}</cite>&spar; <span>{{ cmt.cmnt_time}}</span>
                        <a id="reply" class="reply-btn btn btn-outline-secondary m-3 mx-auto" type="submit">reply</a>

                    </figcaption>

                    <div class="replied-comments container mt-2">

                        {% for rp in cmt.replies.all %}
                        <blockquote class="blockquote">
                            <p style="font-size:13px;">{{rp.comment}}</p>
                        </blockquote>
                        <figcaption class="blockquote-footer ml-4">
                            by <cite title="Source Title">{{ rp.name }}</cite>&spar; <span>{{ rp.cmnt_time}}</span>
                        </figcaption>
                        {% endfor %}


                        <div class="form-group row" id="reply-form"">
                            {% if user.is_authenticated %}
                            <form action="" method=" POST">
                            {% csrf_token %}
                            <input type="hidden" name="comment_id" value="{{cmt.id}}">
                            {{form.media}}
                            {{form.as_p | safe}}
                            <button class="btn btn-outline-secondary m-3 mx-auto" type="submit">reply</button>
                            </form>
                            {% endif %}

                        </div>
                    </div>

                </figure>
                {% endfor %}
            </div>
        </div>

    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {

            alert("Please login to comment and like!");

            $('#comment').on('click', function () {
                $('#allcoment').toggle()
            });

        });
    </script>

</body>

</html>




{% endblock content %}